@font-face {
  font-family: yofont;
  src: url("/dong/images/iconfont/iconfont.woff") format("woff"), url("/dong/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/dong/images/iconfont/iconfont-menu.woff") format("woff"), url("/dong/images/iconfont/iconfont-menu.ttf") format("truetype");
}
